@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    overflow-x: hidden;
}
body {
    color: #fff;
    background: #111213;
    overflow-x: hidden;
}
/* 웹뷰보정*/
@media screen and (max-width: 1200px) {
    body {
        -webkit-text-size-adjust: none; /* 디바이스 환경별 글자커짐 방지 */
        -webkit-overflow-scrolling: touch; /* safari 스크롤 보정 */
    }

    * {
        user-select: none;
        -webkit-touch-callout: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    }
}
/* footer */
.footer {
    font-size: 13px;
    letter-spacing: -0.05em;
    position: fixed;
    left: 360px;
    bottom: 30px;
}
.footer .hash-list {
    display: flex;
    gap: 8px;
}
.footer .hash-list .hash {
    opacity: 0.4;
    transition: all 0.2s;
}
.footer .hash-list .hash:has(a):hover {
    opacity: 1;
    color: #0f2;
}
@media screen and (max-width: 1200px) {
    .footer {
        display: none;
    }
}
/* main */
.home {
    max-width: 920px;
    margin: 0 auto;
}
.home img {
    width: 100%;
}
@media screen and (max-width: 1200px) {
    .home {
        height: 68vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .home img {
        transform: scale(1.4);
    }
}
/* nav */
.nav { 
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9999;
}
.nav:after {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    height: calc(100% + 6px);
    width: calc(100% + 6px);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: 9999px;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}
.nav-inner{
    height: 58px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 24px;
    padding: 14px 24px;
    border-radius: 9999px;
    background:#191b1f
}
  
@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

  
  
.nav a {
    opacity: 0.2;
}
.nav .active {
    opacity: 1;
}
.nav .avatar {
    margin-right: -10px;
    position: relative;
}
.nav .avatar .frame {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
}
.nav .avatar .tooltip {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -45px;
    padding: 0 14px;
    height: 40px;
    font-size: 13px;
    white-space: nowrap;
    background: #000;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    display: none;
    z-index: 1;
}
.nav .avatar:hover .tooltip {
    display: flex;
}
.nav .avatar .tooltip:after {
    content: "";
    display: block;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid #000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -6px;
}
.nav .loader{
    width:20px;
    height:20px;
}
.home-icon {
    width: 40px;
    height: 40px;
    background: #333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
@media screen and (max-width: 1200px) {
    .nav {
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    }
}

/* side bar */
.finder {
    width: 300px;
    border-radius: 12px;
    height: calc(100% - 40px);
    overflow: hidden;
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 999;
    background: #191b1f;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.header input {
    width: 100%;
    height: 50px;
    padding: 0 1.2em;
    background: #000;
    border-radius: 8px;
    color: #fff;
    font-size: 15px;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
}
.header input:focus {
    outline: 1px solid #fff;
}
.header .search {
    position: relative;
}
.header .reset-btn {
    display: flex;
    width: 24px;
    height: 24px;
    background: #fff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 20px;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}
.finder-list-wrapper {
    height: 100%;
    flex: 1;
    overflow: scroll;
    overflow-x: hidden;
}
.finder-list-wrapper .loading {
    text-align: center;
    font-size: 14px;
    padding: 1em 0;
    opacity: 0.2;
}
.finder-list-wrapper::-webkit-scrollbar {
    width: 4px;
}
.finder-list-wrapper::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 42%, 0.49);
    border-radius: 100px;
}
.finder-item {
    display: flex;
    align-items: center;
    height: 52px;
    gap: 10px;
    background: #1f2126;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
    margin-bottom: 10px;
    padding: 0 12px;
    letter-spacing: -0.04em;
    transition: background 0.2s;
}
.finder-item:hover {
    background: #111;
}
.finder-item img {
    height: 32px;
    width: auto;
}
@media screen and (max-width: 1200px) {
    .finder {
        top: 0;
        left: 0;
        width: 100%;
        max-height: 100%;
        height: auto;
        border-radius: 0 0 8px 8px;
    }
    .finder-list-wrapper {
        display: none;
    }
    .finder-list-wrapper.on {
        display: block;
    }
}

/* contents */
.container {
    max-width: 100%;
    width: 100%;
    position: relative;
    padding: 30px 30px 100px 360px;
}
@media screen and (max-width: 1200px) {
    .container {
        padding: 100px 16px 100px;
    }
}
.page-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

/* recipes */
.card-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
}
.recipe-card {
    width: 380px;
    padding: 30px 24px;
    border-radius: 8px;
    background: #191b1f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.04);
}
.recipe-card .recipe-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #1f2126;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
}
.recipe-card .recipe-icon img {
    width: 50px;
    height: auto;
}
.recipe-card .recipe-title {
    text-align: center;
    font-weight: 600;
    padding-bottom: 24px;
    margin-bottom: 24px;
    font-size: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.04);
}
.recipe-card ul li + li {
    margin-top: 10px;
}
.recipe-card ul li {
    display: flex;
    align-items: center;
    height: 70px;
    border-radius: 8px;
    background: #1f2126;
    padding: 0 20px;
}
.recipe-card ul li .icon {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    flex: 0 0 40px;
}
.recipe-card ul li .icon img {
    width: 26px;
    height: auto;
}
.recipe-card ul li .name {
    font-weight: 700;
}
.recipe-card ul li .name a {
    transition: color 0.2s;
}
.recipe-card ul li .name a:hover {
    color: #f0a;
}
.recipe-card ul li .number {
    margin-left: auto;
    margin-right: 6px;
    font-weight: 600;
    font-size: 18px;
}
@media screen and (max-width: 1200px) {
    .recipe-card {
        margin: 0 auto;
        max-width: 400px;
        width: 100%;
        padding: 24px 16px 16px;
    }
    .recipe-card .recipe-icon {
        width: 50px;
        height: 50px;
        margin-bottom: 14px;
    }
    .recipe-card .recipe-icon img {
        width: 32px;
    }
    .recipe-card .recipe-title {
        margin-bottom: 18px;
        padding-bottom: 18px;
    }
    .card-list {
        flex-direction: column;
    }
}
/* tool */
.tool-bar {
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.tool-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 38px;
    border-radius: 6px;
    background: #333;
    padding: 0 12px;
    font-size: 14px;
    line-height: 40px;
    transition: all 0.2s;
}
.tool-btn span {
    font-size: 14px;
    font-weight: 500;
}
.tool-btn svg {
    font-size: 18px;
}
.tool-btn.circle {
    border-radius: 50%;
    width: 38px;
    padding: 0;
}
.tool-btn.circle svg {
    font-size: 16px;
}
.tool-btn.favorite:disabled {
    opacity: 0.2;
}
.tool-btn.favorite.on {
    border: none;
    background: rgba(255, 0, 170, 0.2);
    color: #f0a;
}
.tool-btn.favorite.on:hover {
    background: rgba(255, 0, 170, 0.8);
    border: none;
    color: #fff;
}
.tool-btn.favorite {
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.7);
    background: none;
}
.tool-btn.favorite:hover {
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.7);
    background: none;
}
.tool-btn.detail {
    background: rgba(0, 255, 34, 0.2);
    color: #0f2;
}
.tool-btn.detail:hover {
    background: rgba(0, 255, 34, 0.8);
    color: #fff;
}

.ment {
    opacity: 0.4;
    text-align: center;
    padding: 2em 0;
}
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
}
.loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 3px solid #fff;
    animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
    }
    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }
    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
    }
    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    }
    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }
}

.tip-card{
    max-width: 600px;
    padding: 30px 24px;
    border-radius: 8px;
    background: #191b1f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.04);
}
.tip-card.green{
    background:#111 linear-gradient(188.76deg, rgba(11, 142, 81, 0.3) -13.88%, rgba(19, 17, 28, 0.4) 123.85%);
    border:1px solid rgb(28, 54, 42);
}
.tip-card.blue{
    background:#111 linear-gradient(rgb(11, 21, 40), rgb(19, 17, 28));
    border:1px solid rgb(24, 51, 103);
}
.tip-card.purple{
    background:#111 linear-gradient(rgb(31, 19, 42), rgb(19, 17, 28));
    border:1px solid  rgb(61, 34, 89);
}
.tip-card + .tip-card{
    margin-top:20px;
}
.tip-card ul{
    opacity: 0.5;
    margin-top: 10px;;
}