@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
    }
}

body {
    color: #fff;
    background: #111213;
}
.nav {
    display: flex;
    gap: 14px;
    font-size: 24px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: #191b1f;
    padding: 20px 24px;
    border-radius: 9999px;
}
.nav a {
    opacity: 0.2;
}
.nav .active {
    opacity: 1;
}
.home-icon {
    width: 40px;
    height: 40px;
    background: #333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.finder {
    width: 300px;
    border-radius: 12px;
    height: calc(100% - 40px);
    overflow: hidden;
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 999;
    background: #191b1f;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.header input {
    width: 100%;
    height: 50px;
    padding: 0 1.2em;
    background: #000;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
}
.header .search {
    position: relative;
}
.header .reset-btn {
    display: flex;
    width: 24px;
    height: 24px;
    background: #fff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 20px;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}
.finder-list-wrapper {
    height: 100%;
    flex: 1;
    overflow: scroll;
    overflow-x: hidden;
}
.finder-list-wrapper .loading {
    text-align: center;
    font-size: 14px;
    padding: 1em 0;
    opacity: 0.2;
}
.finder-list-wrapper::-webkit-scrollbar {
    width: 4px;
}
.finder-list-wrapper::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 42%, 0.49);
    border-radius: 100px;
}
.finder-item {
    display: flex;
    align-items: center;
    height: 52px;
    gap: 10px;
    background: #1f2126;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
    margin-bottom: 10px;
    padding: 0 12px;
    letter-spacing: -0.04em;
    transition: background 0.2s;
}
.finder-item:hover {
    background: #111;
}
.finder-item img {
    height: 32px;
    width: auto;
}
.container {
    max-width: 100%;
    width: 100%;
    padding-top: 30px;
    padding-left: 360px;
    padding-right: 30px;
    padding-bottom: 100px;
    position: relative;
}

.card-list-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}
.card-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
}
.recipe-card {
    width: 380px;
    padding: 30px 24px;
    border-radius: 8px;
    background: #191b1f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.04);
}
.recipe-card .recipe-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #1f2126;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
}
.recipe-card .recipe-icon img {
    width: 50px;
    height: auto;
}
.recipe-card .recipe-title {
    text-align: center;
    font-weight: 600;
    padding-bottom: 24px;
    margin-bottom: 24px;
    font-size: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.04);
}
.recipe-card ul li + li {
    margin-top: 10px;
}
.recipe-card ul li {
    display: flex;
    align-items: center;
    height: 70px;
    border-radius: 8px;
    background: #1f2126;
    padding: 0 20px;
}
.recipe-card ul li .icon {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    flex: 0 0 40px;
}
.recipe-card ul li .icon img {
    width: 26px;
    height: auto;
}
.recipe-card ul li .name {
    font-weight: 700;
}
.recipe-card ul li .name a {
    transition: color 0.2s;
}
.recipe-card ul li .name a:hover {
    color: #ff00aa;
}
.recipe-card ul li .number {
    margin-left: auto;
    margin-right: 6px;
    font-weight: 600;
    font-size: 18px;
}
.tool-bar {
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.tool-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 38px;
    border-radius: 6px;
    background: #333;
    padding: 0 12px;
    font-size: 14px;
    line-height: 40px;
    transition: all 0.2s;
}
.tool-btn span {
    font-size: 14px;
    font-weight: 500;
}
.tool-btn svg {
    font-size: 18px;
}
.tool-btn.favorite.on {
    border: none;
    background: rgba(255, 0, 170, 0.2);
    color: #ff00aa;
}
.tool-btn.favorite.on:hover {
    background: rgba(255, 0, 170, 0.8);
    border: none;
    color: #fff;
}
.tool-btn.favorite {
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
    background: none;
}
.tool-btn.favorite:hover {
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.7);
    background: none;
}
.tool-btn.detail {
    background: rgba(0, 255, 34, 0.2);
    color: #00ff22;
}
.tool-btn.detail:hover {
    background: rgba(0, 255, 34, 0.8);
    color: #fff;
}
